<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <header>
      <span>Crash Course Series</span>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">Go to About </a></li>
      </ul>
    </header>

    <main>
      <h1>Home Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quos, laudantium nemo id modi, odio numquam voluptate in facilis facere ipsum nihil saepe
        ab sint nulla! Quae velit ab deleniti?
      </p>
    </main>
  </body>
  <script src="js/test.js"></script>
</html>
